@import url('https://fonts.googleapis.com/css2?family=Mclaren|Quicksand|Shadows+Into+Light&display&display=swap');
body {
    font-family: 'Quicksand', sans-serif;
   margin: 0;
    font-size: 120%;
}
header {
    display: flex;  
    align-items: center;
    background:#0cbe9b;
}
header h1 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 400%;
    font-weight: lighter;
    color:black;
}
nav {
    background-color:#0a85d8;
    border-top: solid black 1px;
    border-bottom: solid black 1px; 
    display: flex;
}
nav p {
    text-align: center;
    flex-basis: 100px;
    flex-grow: 1;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold
}
nav a:hover {
    color:red;
}
h1, h2 {
    font-family: serif;
    color:#f75c03;;
}
.main{
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 4em;
}
.center {
    text-align: center;
}
.wrap {
    Float:right;
}
.caption {
    font-style:italic;
    font-size:small;
}
footer {
    background-color:#0a85d8;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height : 3em;
    border:bottom solid black 1px;
}